<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="codeprism123" parallel="tests">
<!--    <test name="ksn">-->
<!--        <classes>-->
<!--            <class name="org.codeprism.Cookies"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="ksn2">
        <classes>
            <class name="org.codeprism.Headers"/>
        </classes>
    </test>
</suite>